---
name: Deployment Pipeline
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config
          chmod 600 ~/.kube/config

      - name: Create K8s Application Secret
        run: |
          kubectl create secret generic nginx-db-secret \
            --from-literal=password="${{ secrets.MOCK_DB_PASSWORD }}" \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Deploy to k3s
        run: |
          kubectl apply -f nginx-app.yaml
