---
name: Deployment Pipeline
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create K8s Application Secret
        run: |
          kubectl create secret generic app-secrets \
            --from-literal=API_KEY="${{ secrets.API_KEY }}" \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Deploy to k3s
        run: |
          kubectl apply -f nginx-app.yaml
